*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
  background-color: #e7e7e7;
}

.wrapper{
  max-width: 1200px;
  height: auto;
  margin: 30px auto;
  overflow-x: hidden;
  overflow-y: auto;
}

h3{
  text-align: center;
  margin-bottom: 20px;
}

.form-and-todo-box{
  width: 500px;
  margin: auto;
  height: auto;
}

.form-and-todo-box .input-and-button{
  height: 50px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.form-and-todo-box .input-and-button input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  text-indent: 20px;
  font-size: 17px;
  padding: 5px;
   /* border: 2px solid #f92c0f;  */
} 

 .form-and-todo-box .input-and-button .button{
  width: 15% 0;
  height: 100%;
  background-color: #f92c0f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-1px;
}

.form-and-todo-box .input-and-button .button.edit{
  width: auto;
  padding: 0px 10px;
}

.form-and-todo-box .input-and-button .button button{
  outline: none;
  cursor: pointer;
  border: 2px solid #f92c0f;
  background-color: transparent;
  color: #fff;
}

.todo{
  width: 500px;
  margin: auto;
  height: auto;
  /* margin: 15px 0px; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  
  
}

.todo input{
  margin-right: 5px;
}

.todo span{
  font-size: 14px;
  font-weight: 600;
  

  

}

.todo .edit-and-delete{
  display: flex;
  cursor: pointer;
}

/* .delete-all{
  padding: 10px;
  cursor: pointer;
}  */


/* .sty{
  padding-top: 40px;
  text-align: center;
}*/
.log .last{
  margin-top: 20px;
  padding-top: 15px;
  text-align:center;
  width: 15%;
  margin-left: 83%;
  background-color: rgb(157, 146, 91);
} 




.Wrap{
  display: flex;
  justify-content: center;
  margin:100px
}
form{
  width :100%;
  border: 3px solid #dac7c7;
  border-radius: 5px;
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button{
background-color: #4CAF50;
color: white;
padding: 12px 15px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 5px;
}
button:hover{
  opacity: 0.8;
}
.sty{
  padding: 16px;
}
.Wrap .from-2{
  width :70%;
  border: 3px solid #b1a7a7;
}